<div class="section overlap-bottom">
		<div class="content-wrap pb-5 pt-0">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="bg-secondary p-4 shadow-lg">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-4">
									<!-- BOX 1 -->
									<div class="rs-icon-info">
										<div class="info-icon">
											<i class="fa fa-map-o"></i>
										</div>
										<div class="info-text">
											<h4>Lieu</h4>
											Akwa, rue BERNABE.
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-4">
									<!-- BOX 2 -->
									<div class="rs-icon-info">
										<div class="info-icon">
											<i class="fa fa-phone"></i>
										</div>
										<div class="info-text">
											<h4>Call center</h4>
											+237 670889286  <br> +237 695456222

										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-4">
									<!-- BOX 3 -->
									<div class="rs-icon-info">
										<div class="info-icon">
											<i class="fa fa-envelope-o"></i>
										</div>
										<div class="info-text">
											<h4>Contact Email</h4>
											isssarl@outlook.com
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER SECTION -->
		<div class="spacer-50"></div>
		<div class="content-wrap">
			<div class="container">

				<div class="row">

					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="footer-item">
							<img src="{{ asset('frontend/images/logo-light.png') }}" alt="logo bottom" class="logo-bottom">
							<div class="spacer-30"></div>
							<p><strong>ISS</strong> est une entreprise pour l'industrie, la fabrication, la mécanique, l'énergie, l'ingénierie et les activités polyvalentes.</p>
							<div class="sosmed-icon d-inline-flex">
								<a href="#"><i class="fa fa-facebook"></i></a> 
								<a href="#"><i class="fa fa-twitter"></i></a> 
								<a href="#"><i class="fa fa-instagram"></i></a> 
								<a href="#"><i class="fa fa-linkedin"></i></a> 
							</div>
						</div>
					</div>	

					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								Derniers News
							</div>
							
							<ul class="recent-post">
								<li><a href="#" title="">The Best in dolor sit amet consectetur adipisicing elit sed</a>
								<span class="date"><i class="fa fa-clock-o"></i> June 16, 2017</span></li><li><a href="#" title="">The Best in dolor sit amet consectetur adipisicing elit sed</a>
								<span class="date"><i class="fa fa-clock-o"></i> June 16, 2017</span></li>
							</ul>
								
						</div>
					</div>

					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								Liens
							</div>
							<ul class="list">
								<li><a href="{{ path('apropos') }}" title="Apropos">Apropos</a></li>
								<li><a href="{{ path('team') }}" title="Teams">Team</a></li>
								<li><a href="{{ path('services') }}" title="Services">Services</a></li>
								<li><a href="{{ path('projets') }}" title="Projets">Projets</a></li>
								<li><a href="{{ path('faqs') }}" title="Faq">FAQ</a></li>
							</ul>								
						</div>
					</div>				

					<div class="col-sm-6 col-md-6 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								Contact Info
							</div>
							
							<ul class="list-info">
								<li>
									<div class="info-icon">
										<span class="fa fa-map-marker"></span>
									</div>
									<div class="info-text">Akwa, rue BERNABE.</div> </li>
								<li>
									<div class="info-icon">
										<span class="fa fa-phone"></span>
									</div>
									
									<div class="info-text">+237 670889286</div>
									
									
								</li>
								<li>
									<div class="info-icon">
										<span class="fa fa-phone"></span>
									</div>
									
									<div class="info-text">+237 695456222</div>
									
									
								</li>
								<li>
									<div class="info-icon">
										<span class="fa fa-envelope"></span>
									</div>
									<div class="info-text" href="mailto:isssarl@outlook.com">isssarl@outlook</div>
								</li>
								<li>
									<div class="info-icon">
										<span class="fa fa-clock-o"></span>
									</div>
									<div class="info-text">Lun - Sam 09:00 - 17:00</div>
								</li>
							</ul>

						</div>
					</div>

				</div>
				
			</div>
		</div>
		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<p class="mt-3 text-center">Copyright 2021 © <span class="text-secondary">ISS-Sarl</span>. Proudly by <a href="https://www.linkedin.com/in/JuniorMbogning/" target="_blank"> <span class="text-secondary">JuniorMbogning.</span></p> </a>
					</div>
				</div>
			</div>
		</div>
		